@import "tailwindcss";

:root{
    --main-color : hsl(204 100 97);
    --primary-hover-color : hsl(201 78 91);
}

@layer base {
    body {
        @apply bg-gray-100 text-gray-800;
    }
}

body {
    background-color: #F0F9FF;
}

.container {
    @apply max-w-7xl mx-auto px-4;
}